!!!
%html
  %head
    -# #h1 Javascript基礎
    -# #container
    -#   .answer
    -#     %button.btn.float
    -#       Button
    -#     %button.btn.filled
    -#       Button
    -#     %button.btn.letter-spacing
    -#       Button
    -#     %button.btn.shadow
    -#       Button
    -#     %button.btn.solid
    -#       Button

    -# -# #rect

    -# -# #content
    -#   %button.btn.slide-bg
    -#     =link_to "Button", new_user_path

    -# -# #parent
    -#   .child child
    -#   .child.v2 child 2
    -#   .child.v3 child 3


    #container
      .animate-title
        PLAY ANIMATION
      .animate-title-2
        ANIMATE STRING
      %button
        anime
    %script(src="main.js")
