!!!
%html
  %head

    #container
      .answer
        %button.btn.float
          Button
        %button.btn.filled
          Button
        %button.btn.letter-spacing
          Button
        %button.btn.shadow
          Button
        %button.btn.solid
          Button

    #rect

    #content
      %button.btn.slide-bg
        =link_to "Button", new_user_path
