!!!
%html
  %head
  %body
    #section
      .animate-title
        Start where you are.
    #section
      .animate-title
        Use what you have.
    #section
      .animate-title
        Dark after crazy.

    %script(src="text-animation.js")
    %script(src="scroll-polyfill.js")
    %script(src="scroll.js")
    %script(src="main.js")
