@import "mixin";

html {
  font-family: "Teko", sans-serif;
}

body {
  margin: 0;
}

$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cSubTitle: #535353;

#container {
    position: relative;
    background-color: teal;
    height: 100vh;
    z-index: 2;
    transition: all 0.5s;
}

.header {
    background-color: $cWhite;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body {
    margin: 0;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;

    &__btn {
        background-color: unset;
        border: none;
        outline: none !important;
        cursor: pointer;

        & > span {
            background-color: $cMenuClose;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            transition: transform 0.7s;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
        cursor: pointer;
    }
    &__main {
        padding: 0;
        perspective: 2000px;
        transform-style: preserve-3d;
    }
    &__item {
        list-style: none;
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 40px;
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
    }
    &__link {
        display: block;
        margin-top: 30px;
        color: $cBlack;
        text-decoration: none;
    }
}

.menu-open {
    & #container {
        transform: translate(-300px, 60px);
        box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    }

    & .mobile-menu {
        &__cover {
            opacity: 1;
            visibility: visible;
        }
        &__item {
            transform: none;
            opacity: 1;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.07s;
                }
            }
        }
        &__btn {
            & > span {
                background-color: $cMenuOpen;

                &:nth-child(1) {
                    transition-delay: 70ms;
                    transform: translateY(11px) rotate(135deg);
                }
                &:nth-child(2) {
                    transition-delay: 0s;
                    transform:  translateX(-18px) scaleX(0);
                }
                &:nth-child(3) {
                    transition-delay: 140ms;
                    transform: translateY(-11px) rotate(-135deg);
                }
            }
        }
    }
}

.main-title {
    font-weight: 600;
    font-size: 25px;
}
.sub-title {
    display: block;
    font-size: 14px;
    color: $cSubTitle;
}

#section {
  position: relative;
  height: 100vh;
  background-color: teal;

  &:nth-child(2) {
    background-color: mediumvioletred;
  }
  &:nth-child(3) {
    background-color: orange;
  }
}

.animate-title,
.tween-animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 2em;

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;
    }
  }

  & .char {
    opacity: 0;
  }
}

.animate-title.inview .char {
  @include animation(
    $name: kf-animate-chars,
    $duration: 0.5s,
    $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
    $fill-mode: both
  );

  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.04s;
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
