$cWhite: white;
$cBlack: black;

#container {
  text-align: center;

  .btn {
    background-color: $cWhite;
    color: $cBlack;
    border: 2px solid $cBlack;
    padding: 10px 40px;
    font-weight: 600px;
    cursor: pointer;
    margin: 100px 0;
    transition: color 0.3s ease 1s,
                background-color 0.3s ease 2s ;

    &.float {
      &:hover {
        box-shadow: 0 0 10px $cBlack;
      }
    }
  }

  // .btn:hover {
  //   background-color: $cBlack;
  //   color: $cWhite;
  // }
}

h2 {
  font-size: 20px;
  text-align: center;
}