$cWhite: white;
$cBlack: black;

#container {
  text-align: center;

  &.btn {
    background-color: $cWhite;
    color: $cBlack;
    border: 2px solid $cBlack;
    padding: 10px 40px;
    font-weight: 600px;
    cursor: pointer;
    margin: 100px 0;
    transition: all 0.1s;

    &.float:hover {
      background-color: $cBlack;
      color: $cWhite;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

h2 {
  font-size: 20px;
  text-align: center;
}